/* NOTES :

-BORDERS ET BORDER RADIUS A METTRE EN % 
-PADDING LEFT ET RIGHT DES CASE ET CASE SPE A METTRE EN % 
-ADAPTATION MEDIA POSSIBLE
-REGLAGE DU 100% vs PAS 100%

-FOOTER A AJOUTER
-PROJETS ET DIVERS A TERMINER
-AUTEUR A MODIFIER
-FORMULAIRE A RETOUCHER ?

*/





/*BODY HEADER ET POSSIBLEMENT FOOTER*/

body 
{
	background: url("assets/fond.jpg");
	background-repeat:no-repeat;
	background-size: cover;
	font-family: Tahoma;	
}

header ul
{
	margin-top: 1%;
}

ul#menu_horizontal li 
{ 
	display : inline;
}

.menu
{
	border: 3px solid rgb(36, 68, 92);
	border-radius:2em;
	text-align: center;
	position:fixed;
  	margin-top: -1.15%;
  	height:7.5%;
  	background-image: url("assets/fond2.jpg");
  	opacity:0.95;
  	font-family: trebuchet;
  	width:70em;
  	margin-left:6.2em;
	font-family: cantarell;
}

header a
{
	padding:0.5% 0.4% 0.3% 0.4%;
	text-decoration:none;
	font-weight: bold;
	font-family: helvetica;
	font-size:100%;
	background: linear-gradient(#A9BCF5 , #FFFFFF);
	border:2px solid rgb(36, 68, 92);
	border-radius: 8px;
	margin-right:2%;
	box-shadow: 0 0 5px rgba( 0, 0, 0, 0.5),
                0 -1px 0 rgba( 255, 255, 255, 0.4);
    color:#181818;
}

header a:hover
{
     color: #181818;
     background: linear-gradient(#FFFFFF , #336699);
}

header a:active
{
     color: #E8E8E8 ;
     background: #045FB4;
     box-shadow: 1px 1px 10px black inset, 
                 0 1px 0 rgba( 255, 255, 255, 0.4);
}

.current
{
     color: #E8E8E8 ;
     font-size:125%;
     background:  #045FB4;
     box-shadow: 1px 1px 10px black inset, 
                 0 1px 0 rgba( 255, 255, 255, 0.4);
}

.current:hover
{
     color: #FFFFFF;
     font-size:125%;
     background: #045FB4;
     box-shadow: 1px 1px 10px black inset, 
                 0 1px 0 rgba( 255, 255, 255, 0.4);
}

h1
{
	display:block;
	font-size: 350%;
  	color: #CEECF5;
  	padding:4% 0% 1% 0%;
  	text-align:center;
  	margin:1.2% 25% 1.2% 25%;
  	border:none;
  	border-radius: 4em;
  	background-image: url("assets/fond-h1.jpg");
}





/*ACCUEIL*/

.presentation
{
	display:inline-block;
	font-size:85%;
	border: 4px solid rgb(36, 68, 92);
	text-align:left;
	width:70%;
	padding:0.75%;
	margin-top:0.75%;
	margin-left:16em;
	border-radius: 2.75em;
	width:40em;
	color:white;
	background-image: url("assets/fond-pre.jpg"); 
}

.presentation span
{
	color:#FF0000;
}

.presentation b
{	
	font-size:200%;	
}

.batiment
{
	vertical-align: top;
	width:20%;
	display: inline-block;
	padding:0.75%;
	text-align: center;
	border: 4px solid rgb(36, 68, 92);
	border-radius: 2em;
	padding: 1% 2.5% 1% 1%;
	margin: 0.75% 0 0 0.75%;
	background-image: url("assets/fond-pre.jpg"); 
	color:white;
}

.extraits>h2
{	
	font-size:125%;
	font-weight:lighter;
	display:block;
	margin:2.5% 0% 0% 20%;
	width:60%;
	text-align: center;
	color:white;
}

.valeurs h2
{
	color: rgb(36, 68, 92);	
}

.valeurs h3
{
	color: rgb(0, 142, 142);
}

.valeurs
{
	display:inline-block;
	width:35%;
	float: left;
	margin-left:3%;
	background-image: url("assets/fond-val.jpg");
	border: 4px solid rgb(36, 68, 92);
	border-radius: 2em;
	margin: 2% 2% 0% 13%;
	padding: 0% 2% 0% 2%;
}

.infos
{
	display:inline-block;
	width:30%;
	background-image: url("assets/fond-val.jpg");
	border: 4px solid rgb(36, 68, 92);
	border-radius: 3em;
	padding:0% 1% 1% 2%;
	margin: 2% 0% 2% -1%;
}

.infos h2
{
	color: rgb(58,95,205);
}

.logo
{
	display:inline-block;
	margin: -0.4% 0% 2% 2%;
}





/* TABLEAUX */

.liste
{
	border: 4px solid rgb(36, 68, 92);
	padding:0.75%;
	display:inline-block;
	border-radius: 20px;
	margin-top: 0.75%;
	margin-left: 17.2%;
	background-image: url("assets/fond-val.jpg");
}

th
{
	color:rgb(36, 68, 92);
	font-size: 185%;
}

tr>td:first-child
{
	color:#424242;
	font-size: 112.5%;
	text-shadow: -1px -1px rgb(204, 204, 255), 1px 1px rgb(204, 204, 255), -2px 0 3px rgb(0, 142, 142);
	background-image: url("assets/fond-form.png");
}

/* PADDING LEFT ET RIGHT A METTRE EN POURCENTAGE */
.case
{
	border:1px solid rgb(58,95,205);
	text-align: center;
	padding-top:1.7%;
	padding-bottom:1.7%;
	padding-right:30px;
	padding-left:30px;
	font-weight:bold;
}

/* PADDING LEFT ET RIGHT A METTRE EN POURCENTAGE */

.casespe
{	
	border-radius:1em 1em 0 0;
	background-image: url("assets/fond-form.png");
	border:2px solid rgb(58,95,205);
	text-align: center;
	padding-top:1.7%;
	padding-bottom:1.7%;
	padding-right:30px;
	padding-left:30px;
	box-shadow:2px 2px 6px 0.6px; 
	text-shadow: -1px -1px rgb(204, 204, 255), 1px 1px rgb(204, 204, 255), -2px 0 3px rgb(58,95,205);
}

.casespe2
{	
	background-image: url("assets/fond-form.png");
	border:2px solid rgb(58,95,205);
	text-align: center;
	padding-top:1.7%;
	padding-bottom:1.7%;
	padding-right:30px;
	padding-left:30px;
	box-shadow:2px 2px 6px 0.6px; 
	text-shadow: -1px -1px rgb(204, 204, 255), 1px 1px rgb(204, 204, 255), -2px 0 3px rgb(58,95,205);
}

.citation
{
	text-align: center;
	font-size: 95%;
	font-weight:bold;
}





/*LIENS UTILES*/

#liens li
{
	color: rgb(0, 142, 142);
	font-weight:bold;
	font-size: 140%;
}

#liens a
{
	color: rgb(36, 68, 92);
	font-style:italic;
	font-weight:lighter;
	font-size:115%;
}

#liens h2
{
	color: rgb(36, 68, 92);
	font-size: 250%;
	text-align: center;
}





/* RECTIFICATIONS TABLEAU AUTEUR*/

#bio
{
	margin-left: 29%;
}





/* FORMULAIRE */

.form
{
	width:48em;
	margin-left:17em;
	display: block;
}

.formspe
{width: 46.7em;}

.form p
{
	border: 2px solid #008E8E;
	padding: 0.75%;
	display:inline-block;
	border-radius: 20px;
	margin-top: 0.75%;
	margin-left: 0.75%;
	font-weight:bold;
	color:#24445C;
	background-image:url("assets/fond-form.png");
}

#com
{	
	width:44.75em;
	border:none;
	border-radius: 1em;
	text-align:center;
	padding:2%;
	font-family:comic sans ms;
}

button
{
	background: #FFFFFF;
    color:#013ADF;
    font-weight: bold;
    width:auto;
    padding:7.5%;
    float:left;
    border-radius:7px;
    font-size: 85%;
    font-family: Arial;
    font-weight:bold; 
    display: block;
    position: relative;
    font-size:150%;
    border: 3px solid #424242; 
    border-radius: 1em;
}

#bouton
{
	margin-left: 37%;
	width:25%;
}

label
{
	font-weight:normal;
	color:#000;
}

button:hover
{
    color: #FFFFFF;
    background: #2E64FE;
    box-shadow: 1px 1px 10px black inset, 
                0 1px 0 rgba( 255, 255, 255, 0.4);
    cursor: crosshair;
}

button:active
{
    color: #FFFFFF;
    background: #0101DF;
    box-shadow: 1px 1px 10px black inset, 
                0 1px 0 rgba( 255, 255, 255, 0.4);
    cursor: crosshair;
    box-shadow: 0px 0px 20px 8px rgba(119, 119, 119, 0.75);
}
